[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "vim/pack/colors/opt/gruvbox"]
	path = vim/pack/colors/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/pack/navigation/start/vim-tmux-navigator"]
	path = vim/pack/navigation/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/pack/editing/start/ReplaceWithRegister"]
	path = vim/pack/editing/start/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister
[submodule "vim/pack/editing/start/localvimrc"]
	path = vim/pack/editing/start/localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule "vim/pack/mappings/start/unimpaired"]
	path = vim/pack/mappings/start/unimpaired
	url = https://github.com/ebothmann/vim-unimpaired
[submodule "vim/pack/navigation/start/rooter"]
	path = vim/pack/navigation/start/rooter
	url = https://github.com/airblade/vim-rooter.git
