[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
        ignore = dirty
[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
        ignore = dirty
[submodule "vim/pack/colors/opt/gruvbox"]
	path = vim/pack/colors/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
        ignore = dirty
[submodule "vim/pack/navigation/start/vim-tmux-navigator"]
	path = vim/pack/navigation/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
        ignore = dirty
[submodule "vim/pack/editing/start/ReplaceWithRegister"]
	path = vim/pack/editing/start/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister
        ignore = dirty
[submodule "vim/pack/editing/start/localvimrc"]
	path = vim/pack/editing/start/localvimrc
	url = https://github.com/embear/vim-localvimrc
        ignore = dirty
[submodule "vim/pack/mappings/start/unimpaired"]
	path = vim/pack/mappings/start/unimpaired
	url = https://github.com/ebothmann/vim-unimpaired
        ignore = dirty
[submodule "vim/pack/navigation/start/rooter"]
	path = vim/pack/navigation/start/rooter
	url = https://github.com/airblade/vim-rooter.git
        ignore = dirty
[submodule "vim/pack/navigation/start/lastplace"]
	path = vim/pack/navigation/start/lastplace
	url = https://github.com/vim-scripts/vim-lastplace.git
        ignore = dirty
[submodule "vim/pack/navigation/start/fswitch"]
	path = vim/pack/navigation/start/fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
        ignore = dirty
[submodule "vim/pack/navigation/wiki"]
	path = vim/pack/navigation/wiki
	url = https://github.com/vimwiki/vimwiki.git
